@import 'guide.scss';

// Main Container
.main-wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 15px 20px;
	width: 80vw;
	height: 72vh;
	font-family: $primary-font
}

// Grid Layout
.article {
	@include flexbox (column, null, null, 10px);
	padding: 25px;
	border-radius: 10px;
}
.article-principal {
	position: relative;
	grid-area: 1 / 1 / 2 / 3;
	background-color: $moderate-violet;
}
.article-secondary {
	background-color: $very-dark-grayish-blue;
}
.article-tertiary {
	grid-area: 1 / 4 / 3 / 5;
	background-color: $white;
}
.article-fourth {
	grid-area: 2 / 2 / 3 / 4;
	background-color: $very-dark-blackish-blue;
}
.article-fifth {
	background-color: $white;
}

// Principal Article's Background
.background {
	position: absolute;
	top: 0;
	right: 15%;
	width: 70px;
}

// Articles Content
.user-info {
	@include flexbox (row, null, center, 20px);
	width: 100%;
}
.user__picture {
	width: 35px;
	height: 35px;
	border-radius: 100%;
}
.img-border {
	border: 2px solid hsl(264, 82%, 70%);
}
.verified-acount {
	@include flexbox (column, start, null, 4px);
}
.user__name {
	margin: 0;
	font-size: $sm-size;
	font-weight: $semi-bold
}
.first-name, .second-name, .fourth-name {
	color: $light-gray;
}
.third-name, .fifth-name {
	color: $very-dark-grayish-blue;
}
.user__verification {
	margin: 0;
	font-size: $sm-size
}
.first-name-verification, .second-name-verification, .fourth-name-verification{
	color: $light-gray;
	opacity: 0.5;
}
.third-name-verification, .fifth-name-verification  {
	color: $very-dark-grayish-blue;
	opacity: 0.5;
}
.article__title {
	margin: 0;
	font-size: 1.7rem;
	color: $light-grayish-blue;
}
.first-title {
	color: $white;
}
.third-title, .fifth-title {
	color: $very-dark-grayish-blue;
}
.article__text {
	margin: 0;
	font-size: $sm-size;
	font-weight: $medium;
	line-height: 1.4;
	&::after {
		content: ' " ';
	}
	&::before {
		content: ' " ';
	}
}
.first-text, .second-text, .fourth-text {
	color: $light-gray;
	opacity: 0.7;
}
.third-text, .fifth-text {
	color: $very-dark-grayish-blue;
	opacity: 0.7;
}